<applet archive="@{'/lib/jalviewApplet.jar'}" code="jalview.bin.JalviewLite" width="100%" height="400">
<param name="file"                value="${_pep}">
<param name="defaultColour"       value="Zappo">
<param name="embedded"            value="true">
<param name="showFullId"          value="false">
<param name="showConservation"    value="false">
<param name="showQuality"         value="false">
<param name="showConsensus"       value="false">
<param name="showFeatureSettings" value="false">
<param name="showAnnotation"      value="false">
<param name="heightScale"         value="1.2">
<param name="RGB"                 value="EAEAEA">
</applet>
