#{extends 'frontpage.html' /}
#{set 'search_text'}ENSSHAG00000014317#{/set}
#{set 'sequence_text'}
MEGGPAVCCQDPRAELVERVAAIDVAHLEETDDSPEPTRNCVDPPPRARAASMIPGGASR
HLAARPSLSARKFSLQERPAGSCLEAQAGPYATGPASHISPRAWRRPTIESHHVAISDAE
DCVQLNQYKLQSEIGKGAYGVVRLAYNESEDRHYAMKVLSKKKLLKQYGFPRRPPPRGSQ
AAQGGPAKQLLPLERVYQEIAILKKLDHVNVVKLIEVLDDPAEDNLYLVFDLLRKGPVME
VPCDKPFPEEQARLYLRDIILGLEYCELKKIIHRDIKPSNLLLGDDGHVKIADXGVSNQF
EGNDARLSSTAGTPAFMAPEAISDSGQSFSGKALDVWATGVTLYCFVYGKCPFIDDYILA
LHRKIKNEAVVFPEEPKVSEELKDLILKMLDKNPETRIGVPDIKLHPWVTKNGEEPLPSE
KEHCSVVEVTEEEVKNSVRLIPSWTTVILVKSMLRKRSFGNPFEPQARREERSMSAPGNL
VSKDGCGEGGKSPELPGVQEDEAAS
#{/set}
